//colors
$clr1: #FFFFFF;
$clr2: #F67E7E;
$clr3: #E1E1E1;
$clr4: #C4FFFE;
$clr5: #79C8C7;
$clr6: #012F34;
$clr7: #004047;
$clr8: #2C6269;
$clr9: #014E56;
$clr10: #002529;
$clr11: #000000;

//layout
$mainInlineMargins: 9.06rem;